* {
  scroll-behavior: smooth;
}

body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue',
    Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

body, html, #root, #root>div, #root>div>div {
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
}

img {
  max-width: 100%;
}

nav {
  width: 100%;
  background-color: #333;
}

nav a {
  padding: 1rem;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
}

nav a:hover {
  color: white;
  text-decoration: none;
}

.content {
  padding: 1rem;
}

/* Join Us Button */
#join-button {
  background: rgba(0, 0, 0);
  background: rgba(0, 0, 0, 0);
  color: white;
}


#join-button:hover {
  background: white;
  color: black;
  border-color: white;
}
